.header {
    position: relative;
}

.header .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
}
a.logo {
    display: block;
    max-width: 200px;
}

.menu ul {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
}

.menu ul li {
    position: relative;
}

.menu ul li > ul {
    position: absolute;
    top: 26px;
    background: #131328;
    color: #000;
    z-index: 2;
    right: 0;
    display: block;
    border-radius: 5px;
    transition: .3s;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 10px 30px -6px #ffffff1c;
}
.menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 35px;
}
.menu ul li a {
    font-weight: 600;
    margin-left: 30px;
    transition: .3s;
}
.menu ul li:hover > a{
    color: #00e6dc;
}
.menu ul li > ul li {
    display: block;
    padding: 10px 15px;
    min-width: 260px;
    text-align: left;
    transition: .3s;
}

.menu ul li > ul li a {
    margin: 0;
    display: block;
    width: 100%;
    color: #fff;
}

.menu ul li > ul li:hover {
    background: #142132cf;
    color: #fff;
}
.menu ul li a.btn {
    color: #fff;
    border: 1px solid #fff;
}
.menu ul li a.btn:hover{
    color: #fff;
    background-color: #00e6dc;
    border-color: #00e6dc;
}
.header-bottom {
    padding: 110px 0; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 150px;
}
.header-bottom-wrp h2 {
    margin-bottom: 20px;
}

a.subMenu:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    right: 0;
    top: 2px;
    transform: rotate(-45deg);
    transition: .3s;
}

a.subMenu {
    padding-right: 25px;
}

.menu ul li:hover a.subMenu:after {
    transform: rotate(-224deg);
    top: 8px;
    border-color: #00e6dc;
}
.header-top.sticky {
    position: fixed;
    background: #121228;
    z-index: 99;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 2px #ffffff17;
}
