.all_skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skills {
    padding: 100px 0;
}

.skillsBar {
    text-align: center; 
}
.skillsBar .prg {
    max-width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.skillsBar span {
    display: block;
    font-weight: 700;
    margin-top: 20px;
    font-size: 20px;
}
.skillsBar h1 {
    font-size: 60px;
    font-style: italic;
}